%br
#projects_list
  = render collection
%br
%br
%br
= link_to 'Add TODO List', '#new_project', role: 'button', class: 'btn btn-large btn-block btn-primary', :'data-toggle' => 'modal'
= render 'overlays/projects/new_project'
