#new_project.modal.hide.fade{ :'aria-hidden' => 'true', :'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Add New TODO List
  .modal-body
    = simple_form_for Project.new, validate: true, remote: true do |f|
      = f.error_notification
      = f.input :name, autofocus: true, placeholder: 'TODO Name'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        = f.button :submit, class: 'btn btn-primary', value: 'Save'
