#new_project_modal.modal.hide.fade{ :'aria-hidden' => 'true', :'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Add New TODO List
  .modal-body
    = render 'projects/form', project: Project.new
